.loginPage{
    height: 100vh;
    width: 100vw;
}
.loginPage .loginDiv{
    background-color: white;
    margin-top: 2%;
    height: auto;
    width: 50%;
    margin-left: 25%;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.loginPage .loginDiv .imageDiv{
    margin-top: 2%;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.loginPage .loginDiv .imageDiv img{
    height: 70px;
    width: 70px;
}
.loginPage .loginDiv .header{
    height: auto;
    width: 100%;
    justify-content: center;
}
.loginPage .loginDiv .header h1{
    color: black;
    font-size: 30px;
    font-weight: 700;
}
.loginPage .loginDiv .inputs{
    height: auto;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 7%;
    margin-bottom: 5%;
}

.ending{
    height: auto;
    width: 100%;
    justify-content: center;
    margin-bottom: 5%;
}
.ending p{
    color: rgb(0, 0, 0, 0.6);
    font-weight: 400;
}
.ending button{
    height: 50px;
    width: 80%;
    background-color: rgb(1, 1, 63);
    color: white;
    border-radius: 10px;

}

/* Tablet View */
@media only screen and (max-width:915px){
    .loginPage .loginDiv{
        width: 80%;
        margin-left: 10%;
    }
}
/* Phone View */
@media only screen and (max-width:550px){
    .loginPage .loginDiv{
        width: 80%;
        margin-left: 10%;
    }
}